In [217]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import matplotlib as mp

In [218]:
page = requests.get('https://www.mohfw.gov.in/')
soup = BeautifulSoup(page.text,'html.parser')

In [219]:
corona_table = soup('table',{'class':"table table-striped"})
corona_table

[<table border="1" cellpadding="1" cellspacing="1" class="table table-striped" style="font-weight:bold">
 <thead>
 <tr>
 <th><strong>S. No.</strong></th>
 <th><strong>Name of State / UT</strong></th>
 <th><strong>Active Cases*</strong></th>
 <th><strong>Cured/Discharged/Migrated*</strong></th>
 <th><strong>Deaths**</strong></th>
 <th><strong>Total Confirmed cases*</strong></th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td>1</td>
 <td>Andaman and Nicobar Islands</td>
 <td>68</td>
 <td>83</td>
 <td>0</td>
 <td>151</td>
 </tr>
 <tr>
 <td>2</td>
 <td>Andhra Pradesh</td>
 <td>11383</td>
 <td>12154</td>
 <td>277</td>
 <td>23814</td>
 </tr>
 <tr>
 <td>3</td>
 <td>Arunachal Pradesh</td>
 <td>180</td>
 <td>120</td>
 <td>2</td>
 <td>302</td>
 </tr>
 <tr>
 <td>4</td>
 <td>Assam</td>
 <td>5281</td>
 <td>8729</td>
 <td>22</td>
 <td>14032</td>
 </tr>
 <tr>
 <td>5</td>
 <td>Bihar</td>
 <td>4013</td>
 <td>9816</td>
 <td>115</td>
 <td>13944</td>
 </tr>
 <tr>
 <td>6</td>
 <td>Chandigarh</td>
 <td>113</td>
 <td>403</td>
 <td>7</td>
 <td>523</td>
 </tr>
 <tr>
 <td>7</td>
 <td>Chhattisgarh</td>
 <td>757</td>
 <td>2903</td>
 <td>15</td>
 <td>3675</td>
 </tr>
 <tr>
 <td>8</td>
 <td>Dadra and Nagar Haveli and Daman and Diu</td>
 <td>222</td>
 <td>189</td>
 <td>0</td>
 <td>411</td>
 </tr>
 <tr>
 <td>9</td>
 <td>Delhi</td>
 <td>21567</td>
 <td>82226</td>
 <td>3258</td>
 <td>107051</td>
 </tr>
 <tr>
 <td>10</td>
 <td>Goa</td>
 <td>869</td>
 <td>1273</td>
 <td>9</td>
 <td>2151</td>
 </tr>
 <tr>
 <td>11</td>
 <td>Gujarat</td>
 <td>9468</td>
 <td>27718</td>
 <td>2008</td>
 <td>39194</td>
 </tr>
 <tr>
 <td>12</td>
 <td>Haryana</td>
 <td>4572</td>
 <td>14510</td>
 <td>287</td>
 <td>19369</td>
 </tr>
 <tr>
 <td>13</td>
 <td>Himachal Pradesh</td>
 <td>283</td>
 <td>846</td>
 <td>11</td>
 <td>1140</td>
 </tr>
 <tr>
 <td>14</td>
 <td>Jammu and Kashmir</td>
 <td>3652</td>
 <td>5695</td>
 <td>154</td>
 <td>9501</td>
 </tr>
 <tr>
 <td>15</td>
 <td>Jharkhand</td>
 <td>1015</td>
 <td>2208</td>
 <td>23</td>
 <td>3246</td>
 </tr>
 <tr>
 <td>16</td>
 <td>Karnataka</td>
 <td>17786</td>
 <td>12833</td>
 <td>486</td>
 <td>31105</td>
 </tr>
 <tr>
 <td>17</td>
 <td>Kerala</td>
 <td>2799</td>
 <td>3708</td>
 <td>27</td>
 <td>6534</td>
 </tr>
 <tr>
 <td>18</td>
 <td>Ladakh</td>
 <td>139</td>
 <td>915</td>
 <td>1</td>
 <td>1055</td>
 </tr>
 <tr>
 <td>19</td>
 <td>Madhya Pradesh</td>
 <td>3475</td>
 <td>12232</td>
 <td>634</td>
 <td>16341</td>
 </tr>
 <tr>
 <td>20</td>
 <td>Maharashtra</td>
 <td>93673</td>
 <td>127259</td>
 <td>9667</td>
 <td>230599</td>
 </tr>
 <tr>
 <td>21</td>
 <td>Manipur</td>
 <td>651</td>
 <td>799</td>
 <td>0</td>
 <td>1450</td>
 </tr>
 <tr>
 <td>22</td>
 <td>Meghalaya</td>
 <td>45</td>
 <td>66</td>
 <td>2</td>
 <td>113</td>
 </tr>
 <tr>
 <td>23</td>
 <td>Mizoram</td>
 <td>64</td>
 <td>133</td>
 <td>0</td>
 <td>197</td>
 </tr>
 <tr>
 <td>24</td>
 <td>Nagaland</td>
 <td>369</td>
 <td>304</td>
 <td>0</td>
 <td>673</td>
 </tr>
 <tr>
 <td>25</td>
 <td>Odisha</td>
 <td>3742</td>
 <td>7407</td>
 <td>52</td>
 <td>11201</td>
 </tr>
 <tr>
 <td>26</td>
 <td>Puducherry</td>
 <td>553</td>
 <td>584</td>
 <td>14</td>
 <td>1151</td>
 </tr>
 <tr>
 <td>27</td>
 <td>Punjab</td>
 <td>2012</td>
 <td>4945</td>
 <td>183</td>
 <td>7140</td>
 </tr>
 <tr>
 <td>28</td>
 <td>Rajasthan</td>
 <td>5002</td>
 <td>17070</td>
 <td>491</td>
 <td>22563</td>
 </tr>
 <tr>
 <td>29</td>
 <td>Sikkim</td>
 <td>62</td>
 <td>72</td>
 <td>0</td>
 <td>134</td>
 </tr>
 <tr>
 <td>30</td>
 <td>Tamil Nadu</td>
 <td>46655</td>
 <td>78161</td>
 <td>1765</td>
 <td>126581</td>
 </tr>
 <tr>
 <td>31</td>
 <td>Telangana</td>
 <td>12423</td>
 <td>18192</td>
 <td>331</td>
 <td>30946</td>
 </tr>
 <tr>
 <td>32</td>
 <td>Tripura</td>
 <td>437</td>
 <td>1338</td>
 <td>1</td>
 <td>1776</td>
 </tr>
 <tr>
 <td>33</td>
 <td>Uttarakhand</td>
 <td>587</td>
 <td>2672</td>
 <td>46</td>
 <td>3305</td>
 </tr>
 <tr>
 <td>34</td>
 <td>Uttar Pradesh</td>
 <td>10373</td>
 <td>21127</td>
 <td>862</td>
 <td>32362</td>
 </tr>
 <tr>
 <td>35</td>
 <td>West Bengal</td>
 <td>8231</td>
 <td>16826</td>
 <td>854</td>
 <td>25911</td>
 </tr>
 <tr>
 <td></td>
 <td>Cases being reassigned to states</td>
 <td>4161</td>
 <td></td>
 <td></td>
 <td>4161</td>
 </tr>
 <tr>
 <td></td>
 <td colspan="1"><strong><span>Total#</span></strong></td>
 <td align="right" style="text-align:right;"><strong>276682</strong></td>
 <td>
 <strong>495516</strong>
 </td>
 <td>
 <strong>21604</strong>
 </td>
 <td>
 <strong>793802</strong>
 </td>
 </tr>
 <tr>
 <td align="center" colspan="6" style="text-align:center;"><strong>*(Including foreign Nationals)
 </strong>
 </td>
 </tr>
 <tr>
 <td align="center" colspan="6" style="text-align:center;"><strong>**( more than 70% cases due to comorbidities )</strong>
 </td>
 </tr>
 <tr>
 <td align="center" colspan="6" style="text-align:center;"><strong>#States wise distribution is subject to further verification and reconciliation</strong>
 </td>
 </tr>
 <tr>
 <td align="center" colspan="6" style="text-align:center;"><strong>#Our figures are being reconciled with ICMR</strong></td>
 </tr>
 </tbody>
 </table>]

In [220]:
headings = [th.get_text() for th in soup.find("tr").find_all("th")]
headings

['S. No.',
 'Name of State / UT',
 'Active Cases*',
 'Cured/Discharged/Migrated*',
 'Deaths**',
 'Total Confirmed cases*']

In [221]:
datasets = []
for row in soup.find_all("tr")[1:36]:
    dataset = [td.get_text() for td in row.find_all("td")]
    datasets.append(dataset)
datasets

[['1', 'Andaman and Nicobar Islands', '68', '83', '0', '151'],
 ['2', 'Andhra Pradesh', '11383', '12154', '277', '23814'],
 ['3', 'Arunachal Pradesh', '180', '120', '2', '302'],
 ['4', 'Assam', '5281', '8729', '22', '14032'],
 ['5', 'Bihar', '4013', '9816', '115', '13944'],
 ['6', 'Chandigarh', '113', '403', '7', '523'],
 ['7', 'Chhattisgarh', '757', '2903', '15', '3675'],
 ['8', 'Dadra and Nagar Haveli and Daman and Diu', '222', '189', '0', '411'],
 ['9', 'Delhi', '21567', '82226', '3258', '107051'],
 ['10', 'Goa', '869', '1273', '9', '2151'],
 ['11', 'Gujarat', '9468', '27718', '2008', '39194'],
 ['12', 'Haryana', '4572', '14510', '287', '19369'],
 ['13', 'Himachal Pradesh', '283', '846', '11', '1140'],
 ['14', 'Jammu and Kashmir', '3652', '5695', '154', '9501'],
 ['15', 'Jharkhand', '1015', '2208', '23', '3246'],
 ['16', 'Karnataka', '17786', '12833', '486', '31105'],
 ['17', 'Kerala', '2799', '3708', '27', '6534'],
 ['18', 'Ladakh', '139', '915', '1', '1055'],
 ['19', 'Madhya Pradesh', '3475', '12232', '634', '16341'],
 ['20', 'Maharashtra', '93673', '127259', '9667', '230599'],
 ['21', 'Manipur', '651', '799', '0', '1450'],
 ['22', 'Meghalaya', '45', '66', '2', '113'],
 ['23', 'Mizoram', '64', '133', '0', '197'],
 ['24', 'Nagaland', '369', '304', '0', '673'],
 ['25', 'Odisha', '3742', '7407', '52', '11201'],
 ['26', 'Puducherry', '553', '584', '14', '1151'],
 ['27', 'Punjab', '2012', '4945', '183', '7140'],
 ['28', 'Rajasthan', '5002', '17070', '491', '22563'],
 ['29', 'Sikkim', '62', '72', '0', '134'],
 ['30', 'Tamil Nadu', '46655', '78161', '1765', '126581'],
 ['31', 'Telangana', '12423', '18192', '331', '30946'],
 ['32', 'Tripura', '437', '1338', '1', '1776'],
 ['33', 'Uttarakhand', '587', '2672', '46', '3305'],
 ['34', 'Uttar Pradesh', '10373', '21127', '862', '32362'],
 ['35', 'West Bengal', '8231', '16826', '854', '25911']]

In [222]:
corona_df = pd.DataFrame(datasets,columns=headings)
corona_df.head()

,S. No.,Name of State / UT,Active Cases*,Cured/Discharged/Migrated*,Deaths**,Total Confirmed cases*
0,1,Andaman and Nicobar Islands,68,83,0,151
1,2,Andhra Pradesh,11383,12154,277,23814
2,3,Arunachal Pradesh,180,120,2,302
3,4,Assam,5281,8729,22,14032
4,5,Bihar,4013,9816,115,13944

In [223]:
corona_df.to_excel('Corona_data.xls')